<html>
    <%- include("../partials/head.ejs") %> 

    <body>
        <%- include('../partials/nav') %>
        <h2>OOPs error page</h2>

        <p>Returnn </p>

        <%- include('../partials/footer') %>
    </body>
</html>