<html>
    <%- include("../partials/head.ejs") %> 

    <body>        
        <%- include('../partials/nav') %>
        <h2>Testing</h2>
        <p>About us section </p>

        <%- include('../partials/footer') %>
    </body>
</html>