<html>
    <%- include("../partials/head.ejs") %> 

    <body>
        <%- include('../partials/nav') %>
        <h2>Nice header</h2>

        <p>Hello everyone </p>

        <%- include('../partials/footer') %>
    </body>
</html>